*{
    margin: 0px;
    padding: 0px;

}


body {
    padding: 0px;
    margin: 0px;
    font-family: Candara, Arial, Helvetica, sans-serif;
    background-color: red;
    color: silver;
    font-size: 16px;
    line-height: 1.5em;
}

img {
    width: 100%;
}

h1 {
    font-size: 2.3em;
    line-height: 1.2em;
    margin: 15px 0px;
    text-align: center;
    font-weight: bold;
}

p {
    margin: 0px 0px 15px 0px;
}

#contenedor {
    margin-top: 100px;
    margin-left: 5%;
    width: 90%;
    background-color: orange;
}

header {
    z-index: 1;
    position: fixed;
    display: flex;
    align-items: center;
    background-color: #333;
    color: white;
    height: 100px;
    width: 100%;
    left: 0;
    top: 0;
}

#logo {
    width: 250px;
    height: 100px;

}
/*contenedor del menu*/
nav {
    display: flex;
    padding-right: 20px;
    padding-left: 20px;    
}

/*Estilos para el control buscar*/

#buscar {
    margin: 100px auto;
    width: 300px;
    height: 40px;
}

.buscar-1 {
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.buscar-1 input#search {
    width: 300px;
    height: 50px;
    background-color: #2b303d;
    border: none;
    font-size: 10pt;
    float: left;
    color: white;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.buscar-1 input#search::-webkit-input-placeholder{
    color: #65737e;
}

.buscar-1 input#search::-moz-placeholder{
    color: #65737e;
}

.buscar-1 input#search:-moz-placeholder{
    color: #65737e;
}

.buscar-1 input#search:-ms-input-placeholder{
    color: #65737e;
}

.buscar-1 .icon{
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: 14px;
    z-index: 1;
    color: #4f5b66;
    
}
.buscar-1 input#search:hover, .buscar-1 input#search:focus, .buscar-1 input#search:active{
    background-color: white;

}
.buscar-1 input#search{
    width: 300px;
    height: 40px;
    background-color: #2b303b;
    border: none;
    font-size: 10pt;
    float: left;
    color: #262626;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition:background .55s ease;
    -moz-transition:background .55s ease;
    -ms-transition:background .55s ease;
    -o-transition:background .55s ease;
    transition:background .55s ease;
    
}
/*Fin para control buscar*/
  /* menu */

  #menu ul {
    list-style:none;
    margin:0;
    padding:0;
}
   
   /* items del menu */
   
#menu ul li {
    background-color:#333;
}
   
   /* enlaces del menu */
   
#menu ul a {
    display:block;
    color:#fff;
    text-decoration:none;
    font-weight:400;
    font-size:15px;
    padding:10px;
    font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform:uppercase;
    letter-spacing:1px;
    
}
  /* items del menu */
   
#menu ul li {
    position:relative;
    float:left;
    margin:0;
    padding:0;
}
   
   /* efecto al pasar el ratón por los items del menu */
   
#menu ul li:hover {
    background:#e2551e;
    border-left: 4px solid #d8c2ae;
    transition: 0.5s;
}

/* menu desplegable */

#menu ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    padding:0;
   }
   
   /* items del menu desplegable */
   
   #menu ul ul li {
    float:none;
    width:150px;
    opacity: 90%;
   }
 
   /* enlaces de los items del menu desplegable */
   
   #menu ul ul a {
    line-height:120%;
    padding:10px 15px;
    
   }
   
   /* items del menu desplegable al pasar el ratón */
   
   #menu ul li:hover > ul {
    display:block;
   }
/* pie de pagina*/
    footer{
        background-color: #555;
        color: #bbb;

        }

    footer a {
        text-decoration: none;
        color: #eee;

    }
    footer a:hover{
        color: red;
    }
    .footer-main{
        display: flex;
        flex-wrap: wrap;
        padding: 20px;

    }
@media only screen and (min-width: 29.8125rem /* 477px */) {
  .footer-main {
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 77.5rem /* 1240px */) {
  .footer-main {
    justify-content: space-evenly;
  }
}
.footer-main-item{
    padding: 0px 0px 15px 0px;
    min-width: 12.5rem;
}
footer ul{
    list-style: none;
    padding-left: 0px;

}
.footer-titulo{
    color: #fff;
}
/*footerlegal*/
.footer-legal{
    padding: 0px 10px 0px 10px;
    background-color: #333;

}
.footer-legal-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.footer-legal-list li{
    margin: 10px 10px;
    white-space: nowrap;
}
.footer-legal-list li:nth-last-child(2){
    flex: 1;

}
/*Estilos Banner*/
#banner{
    width: 100%;
    height: 350px;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: imgbanner 10s infinite;
    animation-direction: alternate;
}
@keyframes imgbanner{
    0%, 20%{
        background-image: url("../Imagenes/banner/0.jpg");
    }
    25%, 40%{
        background-image: url("../Imagenes/banner/1.jpg");
    }
    45%, 60%{
        background-image: url("../Imagenes/banner/2.jpg");
    }
    65%, 80%{
        background-image: url("../Imagenes/banner/3.jpg");
    }
    85%, 100%{
        background-image: url("../Imagenes/banner/4.jpg");
    }
}
.info h1{
    color: white;
    font-size: 60px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(26, 24, 24);
    
}
#whatsapp {
    position: fixed;
    bottom: 20px;
    right:20px;
 }
 svg {
    width: 80px;
    filter: drop-shadow(0 1px 4px rgba(0,0,0,.4));
 }
 
 circle {
    fill: #25d366;
 }
 path {
    fill: #fff;
 }