main{
    margin: 0px;
    padding: 0px;

}
main section{
    width: 100%;
    background-color: white;

}

.main-contenido{
    width: 100%;
    display: flex;
}
.main-contenido-left{
    width: 70%;
}
.main-contenido-right{
    width: 30%;
    background-color: white;
}

.section-body{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 0px 30px 0px;
    margin-left: 5%;
}

/*Estilos de Titulo*/
.section-titulo{
    text-align: center;
}
.title{
    font-size: 2em;
    position: relative;
    margin: 0 auto 1em;
    padding: 1em 1em .25em 1em;
    text-align: center;
    text-transform: uppercase;
    color: rgb(228, 47, 24);
}
.title:after{
    position: absolute;
    top: 100%;
    left: 50%;
    width: 240px;
    height: 4px;
    margin-left: -120px;
    content: '';
    background-color: #ec671a;

}
/*Estilos de Tarjetas*/
.section-card{
    width: 30%;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid chocolate;
    border-bottom: 10px solid chocolate;
    transition: 0.5s;
}
.section-card:hover{
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    -webkit-box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.68);
    -moz-box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.68);
    box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.68);
}
.section-card-img{
    display: flex;
    justify-content: left;
    align-items: self-end;
    height: 250px;
}
.section-card-img img{
    height: 100%;
    border-bottom: 1px solid chocolate;
}
.section-card-img h3{
    position: absolute;
    margin-bottom: -15px;
    margin-left: 0px;
    padding: 5px 10px 5px 10px;
    color: white;
    border-radius: 0px 20px 20px 0px ;

}
.section-card-img a{
    text-decoration: none;
    color: white;

}
.section-card-img a:visited{
    text-decoration: none;
    color: white;
    
}
.section-card-img a:hover{
    text-decoration: none;
    color: white;
    
}
.section-card-texto{
    padding: 15px 10px 10px 10px;
    color: #333;

}
.section-card-texto h2{
    padding-top: 10px;
    padding-bottom: 10px;
    color: #333;

}
.section-card-texto p{
    margin: 0px;

}
.section-card-texto span{
    font-weight: bold;
    color: #ec671a;
}
.section-card-texto ul{
    padding-bottom: 10px;
    padding-left: 15px;
    list-style: none;
}
.section-card-precio{
    border-top: 1px solid chocolate;
}
.section-card-precio span{
    font-size: 20pt;
    color: #ec671a;
}
.section-card-precio h4{
    position: absolute;
    margin-top: -15px;
    margin-left: 0px;
    padding: 5px 10px 5px 10px;
    color: #ec671a;
    border-radius: 0px 20px 20px 0px ;
    background-color: rgb(231, 207, 170);
}
.section-card-precio h5{
    margin-top: 20px;
    margin-left: 0px;
    padding-left: 10px;
    font-size: 12pt;
    color: #333;
}
.tachado{
    text-decoration:line-through
}
.section-card-precio p{
    margin-top: 5px;
    margin-left: 10px;
    font-weight: bold;
    color: #333;
}
/*Colores de Tarjeta*/
.fondo-chocolate{
    background: chocolate;

}
.fondo-green{
    background: green;
    
}
.fondo-blue{
    background: blue;
    
}
.borde-green{
    border-color: green;

}
.borde-blue{
    border-color: blue;

}
/*Estilos de Tarjeta Tipo 2*/
.contenido-card-2{
    display: flex;
    width: 100%;

}
.section-card-2{
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid chocolate;
    border-bottom: 10px solid chocolate;
}
.section-card-img-2{
    width: 50%;
    height: 300px;
    justify-content: left;
    align-items: self-end;
    
}
.section-card-img-2 img{
   height: 100%;
   border-left: 1px solid chocolate;
    
}
.section-card-texto-2{
    width: 50%;
    padding: 15px 10px 0px 10px;
    color: #333;
    display: flex;

}
.section-card-texto-2 h3{
    position: absolute;
    margin-top: -35px;
    margin-left: 10px;
    padding: 5px 10px 5px 10px;
    color: white;

}
.section-card-texto-2 a{
    text-decoration: none;
    color: white;
    
}
/* section video*/
.section-body-video {
    background-color: #454647;
      justify-content: center;
      display: flex;
      width: 100%;
      height: 500px;
   
  }
  .section-body-video  iframe{
    width: 70%;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
  .section-body-video  .navegacion{
      width: 30%;
  }
   
  .section-body-video  .navegacion div{
      margin: 5px 5px 5px 5px;
      border-radius: 2px;
      padding: 5px 5px 5px 5px;
    overflow: hidden;
    height: 150px;
  }
   
  .section-body-video  .navegacion div img{
      width: 100%;
      border-radius: 2px;
      opacity: 50%;
      transition: 1s;
      object-fit: cover;
      transform: scale(1.3);
 
  }
   
  .section-body-video  .navegacion div img:hover{
      opacity: 100%;
      transform: scale(1.7);
  }
  /* fin section video*/



  /*estilos para la seccion del lado derecho*/
  .main-contenido-right section{
    margin-top: 40px ;
    margin-left: 10%;
    width: 80%;
    flex-wrap: wrap;
    background-color: rgb(133, 190, 119);
    justify-content: center;
    align-items: center;
  }  
  .section-head{
    margin-left: 5%;
    width: 100%;
    font-family: Candara;
  }
  .section-head h4{
    padding-top: 20px;
    color: #333;
  } 
  .section-head input{
    width: 50%;
    height: 30px;
    border: 1px solid #333;
    border-radius: 3px;
  } 
  .section-head a{
    background-color: rgb(222, 226, 226);
    width: 50%;
    padding: 5px 5px;
    border: 1px solid #8f8c8c;
    border-radius: 3px;
    text-decoration: none;
    color: #333;
  } 
  .section-head h3{
    width: 90%;
    padding-right: 0px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-shadow: #333;
    text-transform: uppercase;
    color: #000000;
    border-top: 2px solid #c5e0cc;
    border-bottom: 2px solid #c5e0cc;
}

.section-card-3{
    display: flex;
    background-color: aliceblue;
    padding: 4px;
    margin-bottom: 20px;
}
.section-card-img-3{
    width: 50%;
}
.section-card-img-3 img{
    width: 100%;
    height: 100%;
}
.section-card-texto-3{
    width: 50%;
    color: #454647;
}

.section-card-texto-3 h3{
    padding: 0px 5px 5px 15px;
}
.section-card-texto-3 a{
    text-decoration: none;
    color: #454647;
}
.section-card-texto-3 p{
    padding: 0px 5px 5px 15px;
}
  /* fin - estilos para la seccion del lado derecho*/


.section-card-4{
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid chocolate;
    border-bottom: 10px solid chocolate;
}
.contenido-card-4{
    display: flex;
    width: 100%;

}
.section-card-texto-4{
    width: 50%;
    color: #454647;
}

.section-card-texto-4 h3{
    position: absolute;
    margin-top: -20px;
    margin-left: 10px;
    padding: 5px 10px 5px 10px;
    color: white;

}
.section-card-texto-4 p{

    margin-top: 10px;
    margin-left: 10px;
    padding: 5px 2px 5px 2px;
    color: #333;

}
.section-card-texto-4 form{
    margin-right: 20px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px 2px 5px 2px;
    color: #333;

}
.section-card-img-4{
    width: 50%;

    justify-content: left;
    align-items: self-end;
    
}
.section-card-img-4 img{
    width: 100%;
    height: 100%;
    border-left: 1px solid chocolate;
}

.section-card-img-etiqueta-4{
    opacity: 80%;
    margin-right: 10%;
    display: inline;
    background-color: #454647;
    position: absolute;
    margin-left: 15px;
    margin-top: 15px;
    color: aliceblue;
    border-radius: 15px;
}
.section-card-img-etiqueta-4 div{
    margin: 10px;
}
.section-card-img-etiqueta-4 a{
    display: block;
    margin: 10px;
    text-decoration: none;
    color: aliceblue;
}
  
  