body {
    padding: 0px;
    margin: 0px;
    font-family: Candara, Arial, Helvetica, sans-serif;
    background-color: red;
    color: silver;
    font-size: 16px;
    line-height: 1.5em;
}

img {
    width: 100%;
}

h1 {
    font-size: 2.3em;
    line-height: 1.2em;
    margin: 15px 0px;
    text-align: center;
    font-weight: bold;
}

p {
    margin: 0px 0px 15px 0px;
}

#contenedor {
    margin-top: 100px;
    margin-left: 5%;
    width: 90%;
    background-color: orange;
}

header {
    display: flex;
    align-items: center;
    background-color: #333;
    color: white;
    height: 100px;
    width: 100%;
    left: 0;
    top: 0;
}

#logo {
    width: 100px;
    height: 100px;
}

nav {
    display: flex;
    padding-right: 20px;
    padding-left: 20px;    
}

/*Estilos para el control buscar*/

#buscar {
    margin: 100px auto;
    width: 300px;
    height: 40px;
}

.buscar-1 {
    width: 300px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.buscar-1 input#search {
    width: 300px;
    height: 50px;
    background-color: #2b303d;
    border: none;
    font-size: 10pt;
    float: left;
    color: white;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.buscar-1 input#search::-webkit-input-placeholder{
    color: #65737e;
}

.buscar-1 input#search::-moz-placeholder{
    color: #65737e;
}

.buscar-1 input#search:-moz-placeholder{
    color: #65737e;
}

.buscar-1 input#search:-ms-input-placeholder{
    color: #65737e;
}

.buscar-1 .icon{
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: 14px;
    z-index: 1;
    color: #4f5b66;
    
}
.buscar-1 input#search:hover, .buscar-1 input#search:focus, .buscar-1 input#search:active{
    background-color: white;

}
.buscar-1 input#search{
    width: 300px;
    height: 40px;
    background-color: #2b303b;
    border: none;
    font-size: 10pt;
    float: left;
    color: #262626;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition:background .55s ease;
    -moz-transition:background .55s ease;
    -ms-transition:background .55s ease;
    -o-transition:background .55s ease;
    transition:background .55s ease;
    
}
/*Fin para control buscar*/