main{
    margin: 0px;
    padding: 0px;
}

main section{
    width: 100%;
    background-color: #eee;
}

.opcion {
    margin: 20px;
    border: 1px solid chocolate;
    margin-top: 20px;
    display: inline-block;
    width: 30%;
    text-align: center;
    height: 300px;
    border-radius: 15px;
    overflow: hidden;
    border-bottom: 10px solid chocolate;

}

.opcion img {
    max-width: 100%;
    height: 200px;
    width: 100%;
    transition: 1s;
    border-bottom: 1px solid chocolate;
}

.opcion img:hover {
    object-fit: cover;
    transform: scale(1.3);
}


.opcion h3 {
    position:absolute;
    padding: 5px 15px 5px 10px;
    margin-top: -25px;
    background-color: chocolate;
    color: aliceblue;
    border-radius: 0px 20px 20px 0px ;
}

.opcion p{

    padding: 5px 15px 5px 10px;
    margin-top: 25px;
    color: #333;

}

.opcion a{
    text-decoration: none;
    color: white;

}
.opcion a:visited{
    text-decoration: none;
    color: white;
    
}
.opcion a:hover{
    text-decoration: none;
    color: white;
    
}
    